@media screen and (max-width: 935px) and (min-width: 465px) {
    nav {
        flex-direction: column;
        justify-content: center;
        margin-right: 750px;
    }
    body header .mainText h1 {
        margin-right: 750px;

    }
    body header .mainText p {
        margin-right: 750px;
    }
    body header .btn {
        margin-right: 800px;
        
    }
    body header .arrowDown{
        margin-right: 1000px;
    }
    body .expand {
        padding: 30px 30px 10px 30px;
    }
    body .expand .mainText {
        padding: 50px 0px;
        margin-bottom: 20px;
    }
    body .expand .mainText h1 {
        font-size: 30px;
        margin-bottom: 50px;
    }   
}

@media screen and (max-width: 464px) {
    nav {
        flex-direction: column;
        justify-content: center;
        margin-right: 850px;
    }
    body header .mainText h1 {
        margin-right: 850px;

    }
    body header .mainText p {
        margin-right: 850px;
    }
    body header .btn {
        margin-right: 800px;    
    }
    body header .arrowDown{
        margin-right: 1000px;
    }
    /* menu {
        display: flex;
        flex-direction: column;
    }
    menu li {
        margin-bottom: 10px;
    }
    body header .mainText h1 {
        font-size: 30px;
        margin-top: -20px;
    }
    body header .mainText p {
        font-size: 18px;
        padding-bottom: 20px;
    } */
    body .expand {
        padding: 10px;
    }
    body .expand .mainText {
        border: none;
        padding: 30px 0px;
        margin-bottom: 20px;
    }
    body .expand .mainText h1 {
        font-size: 25px;
        margin-bottom: 30px;
    }
    body .our_process .steps {
        display: block;
    }
    body .our_process .back_process {
        display: none;
    }
}

/* SECTION MEDIA */
@media screen and (max-width: 1260px) {
    .recieve {
        padding: 30px 20px;
    }
    .recieve h1 {
        font-size: 26px;
    }
    .recieve p {
        font-size: 18px;
        margin-bottom: 20px;
    }
    .icons {
        flex-wrap: wrap;
        justify-content: center;
    }
    .icons div {
        max-width: 350px;
        margin-bottom: 20px;
    }
}

/* WE DO 1*/
@media screen and (max-width: 715px) {
    .wedo1 {
        padding: 15px;
        text-align: center;
    }
    .wedo1 .container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .wedo1 .container img {
        width: 100%;
    }
    .wedo1 .container .right {
        order: 1;
        max-width: 100%;
    }
    .wedo1 .container .left {
        order: 2;
        max-width: 100%;
        margin-bottom: 30px;
    }
    .wedo1 .container .btn {
        margin-bottom: 20px;
    }
    /* WE DO 2 */
    .wedo2 {
        padding: 15px;
        text-align: center;
    }
    .wedo2 .container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .wedo2 .container img {
        width: 100%;
    }
    .wedo2 .container .left {
        max-width: 100%;
        margin-bottom: 30px;
    }
    .wedo2 .container .right {
        max-width: 100%;
        text-align: center;
        margin-bottom: 30px;
    }
    .wedo2 .container .btn {
        margin-bottom: 20px;
    }
}
/* WE DO 3*/
@media screen and (max-width: 715px) {
    .wedo3 {
        padding: 15px;
        text-align: center;
    }
    .wedo3 .container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .wedo3 .container img {
        width: 100%;
    }
    .wedo3 .container .right {
        order: 1;
        max-width: 100%;
    }
    .wedo3 .container .left {
        order: 2;
        max-width: 100%;
        margin-bottom: 30px;
    }
    .wedo3 .container .btn {
        margin-bottom: 20px;
    }
}